* {
    margin: 0;
    padding: 0;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: calc(85px * 8);
    height: calc(85px * 8);
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
}

.cell {
    width: 85px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img {
    width: 54px;
    height: 54px;
    position: relative;
    cursor: pointer;
}

.black {
    background-color: rgb(47, 109, 129);
}

.available-to-attack {
    background-color: green;
}

.white {
    background-color: #e7a94d;
}

.selected {
    background-color: brown;
}

.available {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #22c022;
}

.lost {
    height: calc(50vh - 60px);
    padding: 30px;
    margin-left: 50px;
    background-color: lightgray;
}

@media screen and (max-width: 768px) {
    .board {
        width: calc(54px * 8);
        height: calc(54px * 8);
    }

    .cell {
        width: 54px;
        height: 54px;
    }

    .cell img {
        width: 42px;
        height: 42px;
        position: relative;
    }
}