* {
    margin: 0;
    padding: 0;
}

.app {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    scroll-snap-type: none;
}

img.lost-figure-logo {
    width: 18px;
    height: 18px;
}

.app-info {
    width: 100%;
    padding: 28px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.app-info h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.app-info h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.timer {
    padding: 25px;
}

.timer>* {
    margin: 15px 0;
}

.app-timer-menu {
    cursor: pointer;
}

.lost-figure-img {
    width: 56px;
    height: 56px;
}

.lost-figure-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer;
}

.lost-figure-img img:hover {
    border: 3px solid rgb(88, 100, 230);
    filter: blur(1px);
    transition: ease-in-out all 220ms;
}

.board {
    width: calc(85px * 8);
    height: calc(85px * 8);
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
}

.cell {
    width: 85px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img {
    width: 54px;
    height: 54px;
    position: relative;
    cursor: pointer;
}

.black {
    background-color: rgb(47, 109, 129);
}

.available-to-attack {
    background-color: green !important;
}

.white {
    background-color: #e7a94d;
}

.selected {
    background-color: brown;
}

.available {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #22c022;
}

.lost {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px;
    margin: 20px 40px;
    background-color: lightgray;
}

.app-lost-figures {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lost-figure {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lost-black {
    background-color: white;
    color: black;
    outline: 2px solid black;
}

.lost-white {
    background-color: black;
    color: white;
    border-color: 2px solid black;
    outline: 2px solid black;
}

.lost-figure>p {
    font-weight: 200;
    letter-spacing: 1px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.lost-figure>p::first-letter {
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .board {
        width: calc(54px * 8);
        height: calc(54px * 8);
    }

    .cell {
        width: 54px;
        height: 54px;
    }

    .cell img {
        width: 42px;
        height: 42px;
        position: relative;
    }

    .app {
        flex-direction: column;
    }

    .app-info {
        text-align: center;
        padding: 15px;
    }

    .lost {
        display: flex;
        flex-direction: row;
    }

    .app-lost-figures {
        flex-direction: row;
    }
}